.password-recovery-container {
    position: relative;
    width: 100%;
    height: 93vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F7F7F7;
}

.password-recovery-container .password-update-component  {
    left: -1%;
}